@import "tailwindcss";

@theme {
  --color-neon: #ccff00;
  --color-bg-primary: #111111;
  --color-bg-secondary: #1a1a1a;
  --color-text-main: #ffffff;
  --color-text-muted: #cccccc;
  
  --font-heading: var(--font-oswald), sans-serif;
  --font-body: var(--font-roboto), sans-serif;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    background-color: var(--color-bg-primary);
    color: var(--color-text-main);
    font-family: var(--font-body);
    line-height: 1.6;
}
